@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*
 * Slideout
 */
body {
  width: 100%;
  height: 100%;

  background-color: #EEEEEE;
}

/*
 * Box
 */
.box {
  display: block;

  border-radius: 2px;

  background-color: #FEFEFE;
}

/*
 * Shadow
 */
.shadow-0 {
  border: 1px solid #EEEEEE;
}
.shadow-1 {
  box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.26);
}
.shadow-2 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.shadow-3 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2);
}
.shadow-4 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19), 0 12px 15px 0 rgba(0, 0, 0, .24);
}
.shadow-5 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, .21), 0 16px 28px 0 rgba(0, 0, 0, .22);
}
.shadow-6 {
  box-shadow: 0 30px 77px 0 rgba(0, 0, 0, .22), 0 27px 24px 0 rgba(0, 0, 0, .2);
}

/*
 * Container
 */
.container-fluid {
  width: 80%;
  max-width: 860px;
  margin: 0 auto;
}

.container-fixed {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-fixed {
    width: 736px;
  }
}

@media (min-width: 992px) {
  .container-fixed {
    width: 860px;
  }
}

@media (min-width: 1200px) {
  .container-fixed {
    width: 1080px;
  }
}

@media (min-width: 2100px) {
  .container-fixed {
    width: 1200px;
  }
}

.container-padded {
  padding: 6px;
}

/*
 * Input
 */
div.input-group {
  width: 100%;
  min-width: 150px;
  margin: 17px 0;

  position: relative;

  display: inline-block;
}

div.input-group.animated input[type='text'], div.input-group.animated input[type='password'], div.input-group.animated input[type='email'], div.input-group.animated input[type='url'], div.input-group.animated textarea, div.input-group.animated > label {
  transition: .333s;
}

div.input-group input[type='text'], div.input-group input[type='password'], div.input-group input[type='email'], div.input-group textarea, div.input-group input[type='url'] {
  width: 100%;
  min-width: 150px;
  padding: 15px 0;

  font-size: 18px;

  border: none;
  border-bottom: 2px solid;
  outline: none;
  background: none;

  color: #333333;
  border-color: #EEEEEE;
}

div.input-group.text > label, div.input-group.check > label span {
  font-size: 18px;
  line-height: 18px;

  color: #999999;
}

div.input-group.text > label {
  position: absolute;
  top: calc(50% - 9px);
  left: 0;

  font-style: italic;

  pointer-events: none;
}

div.input-group.text input:focus, div.input-group.text input:focus + label, div.input-group.text textarea:focus, div.input-group.text textarea:focus + label {
  color: #357AE8;
  border-color: #357AE8;
}

div.input-group input:focus + label, div.input-group input.has-value + label, div.input-group textarea:focus + label, div.input-group textarea.has-value + label {
  top: -10px;

  font-size: 12px;
}

div.input-group span.help-block {
  position: absolute;
  top: 58px;
  left: 0;

  display: none;

  font-size: 12px;
  line-height: 12px;

  pointer-events: none;
}

div.input-group.has-error span.help-block {
  display: block;
}

div.input-group.check > label span.label-text {
  cursor: pointer;
}

div.input-group.check.has-error > label span.label-text {
  color: #EB4F37;
}

div.input-group.check input[type='checkbox'], div.input-group.check input[type='radio'] {
  display: none;
}

div.input-group.check span.help-block {
  top: 22px;
  left: 22px;
}

div.input-group.check input:disabled + span.label-text {
  cursor: default;
}

div.input-group.check span.label-text:before {
  width: 1em;
  margin-right: 5px;

  display: inline-block;

  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  content: '\f096';
  -webkit-font-smoothing: antialiased;
  speak: none;
}

div.input-group.check input[type='checkbox'] + span.label-text:before {
  content: '\f096';
}

div.input-group.check input[type='checkbox']:checked + span.label-text:before {
  color: #357AE8;

  content: '\f14a';
}

div.input-group.check input[type='checkbox']:disabled + span.label-text:before {
  color: #EEEEEE;

  content: '\f0c8';
}

div.input-group.check input[type='radio'] + span.label-text:before {
  content: '\f10c';
}

div.input-group.check input[type='radio']:checked + span.label-text:before {
  color: #357AE8;

  content: '\f192';
}

div.input-group.check input[type='radio']:disabled + span.label-text:before {
  color: #EEEEEE;

  content: '\f111';
}

div.input-group.has-error, div.input-group.has-error input {
  color: #EB4F37;
  border-color: #EB4F37;
}

div.input-group.has-error label {
  color: #E57373;
}

div.input-group.has-error input:focus + label, div.input-group.has-error input.has-value + label {
  color: #E57373;
}

div.input-group.captcha.has-error span.help-block {
  top: 78px;
}

/*
 * Buttons
 */
.btn {
  min-width: 46px;
  padding: 0 12px;

  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;

  border: 1px solid #DCDCDC;
  border-radius: 2px;
  outline: none;

  color: #444444;
  background-color: #F5F5F5;

  cursor: pointer;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
  transition: all .2s ease;
}

.btn:hover {
  border: 1px solid #C6C6C6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

  color: #333333;
  background-color: #F8F8F8;

  text-shadow: 0 1px rgba(0, 0, 0, .2);
  transition: all 0s ease;
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;

  background-color: #F6F6F6;

  text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.btn.btn-highlight {
  border: 1px solid #3079ED;

  color: #FEFEFE;
  background-color: rgb(77, 144, 254);
}

.btn.btn-highlight:hover {
  border: 1px solid #2F5BB7;

  background-color: #357AE8;
}

.btn.btn-highlight:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset;

  background-color: #357AE8;
}