@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*
 * General
 */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  overflow: hidden;

  font-family: 'Open Sans', sans-serif;

  background-color: #FAFAFA;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;

  color: #3F51B5;
}

a:hover {
  color: #7986CB;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #666666;
}

/*
 * Header
 */
header {
  width: 100%;
  height: 56px;

  position: fixed;
  z-index: 1;

  color: #EEEEEE;
  background-color: #3F51B5;
}

/*
 * Message
 */
.message-area {
  width: 95%;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 46px;

  overflow: shown;
}

.message-area .message-spacer {
  width: 100%;
  margin-bottom: 10px;
  padding: 3px;

  overflow: auto;

  background-color: transparent;
}

/*
 * Message Partial
 */
.message-date {
  width: 150px;
  max-width: 67%;
  margin: 0 auto;
  padding: 6px 12px;

  position: relative;

  display: block;

  font-size: 14px;
  line-height: 16px;
  text-align: center;

  border-radius: 5px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.5);

  background-color: #8C9EFF;
}

.message {
  max-width: 66%;
  padding: 6px 12px;
  padding-bottom: 18px;

  position: relative;

  display: inline;

  font-size: 14px;
  line-height: 16px;

  border-radius: 5px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.5);
}

.message .message-time {
  position: absolute;
  right: 12px;
  bottom: 3px;

  font-size: 12px;
  line-height: 12px;

  color: #666666;
}

.message.message-other {
  float: left;

  background-color: #FEFEFE;
}

.message.message-signed {
  padding-top: 18px;
}

.message.message-signed .message-sender {
  position: absolute;
  top: 3px;

  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}

.message.message-me {
  float: right;

  background-color: #9FA8DA;
}

/*
 * Input Area
 */
.input-area {
  width: 100%;
  height: 56px;

  position: fixed;
  bottom: 0;
  z-index: 1;

  background-color: inherit;
}

.input-area input[type='text'] {
  width: calc(100vW - 80px);
  margin-top: 8px;
  margin-left: 4px;
  padding: 6px 12px;

  line-height: 28px;

  border: 1px solid #F9F9F9;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.5);
}

.input-area button {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 4px;

  display: block;
  float: right;

  border: 0;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.5);

  background-color: #3F51B5;
}

.input-area button:hover {
  background-color: #7986CB;
}

.input-area button img {
  width: 22px;
  margin-top: 3px;
  margin-left: 3px;
}

/*
 * Overlay Management
 */
.overlay {
  width: 100vW;
  height: 100vH;

  position: absolute;
  top: 0;
  left: 0;
}
.blank {
  background-color: #000000;
}

#layer_blankChat {
  z-index: 10;
}
.media {
  z-index: 11;
}
#layer_masterBlank {
  z-index: 20;
}
